p.error {
  color: red;
  font-weight: bolder;
  text-align: center;
}

body div.form-container {
  padding: 15px;
}
.wrapper {
  padding: 15px;
}

.action-btns {
  text-align: right;
}

span.highlighted {
  background: #f1c40f;
  display: inline-block;
  font-weight: bold;
  padding: 0 6px;
}

.btn-jsonform {
  cursor: pointer;
}

/*
  SweetAlert 2
 */
.swal2-popup {
  width: 50em;
}

.swal2-title {
  font-size: 2em;
}

.swal2-content {
  font-size: 1.4em;
}
