{% extends "dagen/base.html" %}
{% block page_title %}Create DAG{% endblock %}
{% block content %}
    {% include 'dagen/incl_modal_jsonform.html' %}

    <h2>Create DAG</h2>
    <hr/>

    <div class="row">
        <div class="container col-md-10" id="main-container">
            <ul class="nav nav-tabs actions-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{ base_url }}/">List</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{{ base_url }}/dags/create" title="Create New DAG">Create</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ base_url }}/dags/save" title="Bulk Save DAGs">Bulk Sync</a>
                </li>
            </ul>

            <div class="wrapper admin-form form-horizontal">
                {% if template_classes|length > 1 %}
                <div class="form-group">
                    <label class="col-md-2 control-label" for="template_id">
                        Template ID &nbsp;<strong style="color: red;">*</strong>
                    </label>
                    <div class="col-md-10 form-field">
                        <select class="form-control" id="template_id" name="template_id">
                            <option disabled hidden {% if not template_id %} selected {% endif %} value="none">Select an Option</option>
                            {% for tmplId, tmpl in template_classes.items() %}
                                <option {% if template_id == tmplId %} selected {% endif %} value="{{ tmplId }}">{{ tmplId }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                {% endif %}
                {% for tmplId, form in forms.items() %}
                    <form action="{{ base_url }}/dags/create" class="admin-form form-horizontal tmpl-form" enctype="multipart/form-data" id="tmplForm_{{ tmplId }}" method="POST" role="form">
                        <input type="hidden" name="template_id" value="{{ tmplId }}"/>
                        {% include 'dagen/incl_template_form.html' %}
                    </form>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
{% block tail_js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.11.0/underscore-min.js"
    integrity="sha512-wBiNJt1JXeA/ra9F8K2jyO4Bnxr0dRPsy7JaMqSlxqTjUGHe1Z+Fm5HMjCWqkIYvp/oCbdJEivZ5pLvAtK0csQ=="
    crossorigin="anonymous"></script>

<script src="{{ base_url }}/static/dagen/js/jsonform.js"></script>
<script>
    function resetForms() {
        $(".tmpl-form").hide();
    }
    $(document).ready(() => {
        resetForms();
        {% if template_id %}
            $("#tmplForm_{{ template_id }}").show();
        {% elif template_classes|length == 1 %}
            $("#tmplForm_{{ template_classes.keys()|first }}").show();
        {% endif %}
        $("#template_id").change((event) => {
            let val = $(event.target).val();
            resetForms();
            $("#tmplForm_" + val).show();
        });
    });
</script>
<script src="{{ base_url }}/static/dagen/js/dep-form-value.js"></script>
{% endblock %}
