{% extends base_template %}
{% block page_title %}Create DAG
{% endblock %}
{% block head_css %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('dagen_bp.static', filename='dagen/css/style.css') }}"/>
{% endblock %}
{% block content %}
    <h2>
        Create DAG
    </h2>
    <hr/>

    <div class="row">
        <div class="container col-md-10" id="main-container">
            <ul class="nav nav-tabs actions-nav">
                <li>
                    <a href="{{ url_for('DagenFABView.list') }}">List ({{ dbDags|length }})</a>
                </li>
                <li class="active">
                    <a href="{{ url_for('DagenFABView.create') }}" title="Create New DAG">Create</a>
                </li>
                <li>
                    <a href="{{ url_for('DagenFABView.bulk_save') }}" title="Bulk Save DAGs">Bulk Sync</a>
                </li>
            </ul>

            <div class="wrapper admin-form form-horizontal">
                <div class="form-group">
                    <label class="col-md-2 control-label" for="template_id">
                        Template ID &nbsp;<strong style="color: red;">*</strong>
                    </label>
                    <div class="col-md-10 form-field">
                        <select class="form-control" id="template_id" name="template_id">
                            <option disabled hidden {% if not template_id %} selected {% endif %} value="none">Select an Option</option>
                            {% for tmplId, tmpl in template_classes.items() %}
                                <option {% if template_id == tmplId %} selected {% endif %} value="{{ tmplId }}">{{ tmplId }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                {% for tmplId, form in forms.items() %}
                    <form action="" class="admin-form form-horizontal tmpl-form" enctype="multipart/form-data" id="tmplForm_{{ tmplId }}" method="POST" role="form">
                        <input type="hidden" name="template_id" value="{{ tmplId }}"/>
                        {% if csrf_token %}
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                        {% endif %}
                        {% include 'dagen/incl_template_form.html' %}
                    </form>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
{% block tail %}
{{ super() }}
{% block tail_extra_js %}
<script>
            function resetForms() {
                $(".tmpl-form").hide();
            }
            $(document).ready(() => {
                resetForms();
                {% if template_id %}
                    $("#tmplForm_{{ template_id }}").show();
                {% endif %}
                $("#template_id").change((event) => {
                    let val = $(event.target).val();
                    resetForms();
                    $("#tmplForm_" + val).show();
                });
            });
        </script>
    {% endblock %}
{% endblock %}
