{% extends "dagen/base.html" %}
{% block page_title %}Dagen-managed DAGs{% endblock %}
{% block content %}
    <h2>Dagen-managed DAGs</h2>
    <hr/>

    <ul class="nav nav-tabs actions-nav">
        <li class="nav-item active">
            <a class="nav-link" href="{{ base_url }}/">List ({{ dbDags|length }})</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ base_url }}/dags/create" title="Create New DAG">Create</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ base_url }}/dags/save" title="Bulk Save DAGs">Bulk Sync</a>
        </li>
        <span class="text-right">
            <form class="form-actions ajax-form" method="POST" action="{{ base_url }}/dags/approve/all">
                <input class="btn btn-warning submit" data-confirm-button="Yes, approve them all!" data-confirm-description="All current Dagen DAG versions will be approved and immediately published live." data-confirm-level="warning" data-confirm-title="Are you sure?" role="button" type="submit" value="Approve all"/>
            </form>
        </span>
    </ul>

    <div class="clearfix"></div>
    <table class="table table-striped table-bordered table-hover model-list">
        <thead>
            <tr role="row">
                <th width="12">
                    <span class="glyphicon glyphicon-info-sign" title="Toggle live status of DAG"></span>
                </th>
                <th class="column-header">DAG Representation</th>
                <th class="column-header">Scheduled Interval</th>
                <th class="column-header">Author</th>
                <th class="col-md-1">Links</th>
            </tr>
        </thead>
        {% for dag in dbDags %}
            <tr>
                <td>
                    {% if dag.is_enabled %}
                        <span class="label" style="background-color: green" title="Published">{{ dag.version_str }}</span>
                    {% elif dag.is_published %}
                        <span class="label" style="background-color: yellow; color: black" title="Pending Approval">{{ dag.version_str }}</span>
                    {% else %}
                        <span class="label" style="background-color: red" title="Disabled">X</span>
                    {% endif %}
                </td>
                <td>
                    <span class="label label-default">{{ dag.str }}</span>
                </td>
                <td>
                    <span class="label label-default">
                        {% if dag.is_published %}
                            {{ dag.schedule_interval }}
                        {% else %}-{% endif %}
                    </span>
                </td>
                <td>
                    <span class="label label-default">
                        {% if dag.is_published %}
                            {{ dag.creator_str }}
                        {% else %}-{% endif %}
                    </span>
                </td>
                <td class="list-buttons-column">
                    <a class="icon link-tooltip" href="{{ base_url }}/dags/edit?dag_id={{ dag.dag_id }}" title="Edit">
                        <span class="fa fa-pencil"></span>
                    </a>
                    {% if dag.is_published %}
                        <a class="icon link-tooltip" href="{{ base_url }}/dags/detail?dag_id={{ dag.dag_id }}" title="Details">
                            <span class="fa fa-list"></span>
                        </a>
                    {% endif %}
                    {% if dag.is_published and not dag.is_enabled %}
                        <a class="icon link-tooltip" href="{{ base_url }}/dags/approve?dag_id={{ dag.dag_id }}" title="Approve">
                            <span class="fa fa-plane"></span>
                        </a>
                    {% endif %}
                    <a class="icon link-tooltip" href="{{ base_url }}/dags/delete?dag_id={{ dag.dag_id }}" onclick="return confirm('Delete DAG {{ dag.dag_id }}?');">
                        <span class="glyphicon glyphicon-remove-circle" style="color: red" title="Delete"></span>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
{% block tail_js %}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script>
  Swal = Swal.mixin({
    customClass: {
      confirmButton: "btn btn-success",
      cancelButton: "btn btn-primary",
    },
    buttonsStyling: false,
  });
</script>
    <script src="{{ base_url }}/static/dagen/js/ajax-form.js"></script>
{% endblock %}
