{% extends base_template %}
{% block page_title %}
    Edit DAG -
    {{ dag_id }}
{% endblock %}
{% block head_css %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('dagen_bp.static', filename='dagen/css/style.css') }}"/>
{% endblock %}
{% block content %}
    <h2>
        Edit DAG -
        {{ dag_id }}
    </h2>
    <hr/>

    <div class="row">
        <div class="container col-md-10" id="main-container">
            <ul class="nav nav-tabs actions-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('DagenFABView.list') }}">List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('DagenFABView.detail', dag_id=dag_id) }}" title="View Details">View</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('DagenFABView.edit', dag_id=dag_id) }}" title="Edit Details">Edit</a>
                </li>
            </ul>

            <div class="admin-form form-horizontal">
                <form action="" class="admin-form form-horizontal" enctype="multipart/form-data" method="POST" role="form">
                    {% if csrf_token %}
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    {% endif %}
                    <div class="form-group">
                        <label class="col-md-2 control-label" for="template_id">
                            Template ID &nbsp;<strong style="color: red;">*</strong>
                        </label>
                        <div class="col-md-4 form-field">
                            <select disabled value="{{ dbDag.template_id }}" class="form-control" id="template_id" name="template_id">
                                <option selected value="{{ dbDag.template_id }}">{{ dbDag.template_id }}</option>
                            </select>
                        </div>
                        <label class="col-md-1 control-label" for="live_version">
                            Live Version &nbsp;<strong style="color: red;">*</strong>
                        </label>
                        <div class="col-md-4 form-field">
                            <select {% if dbDag._live_version %} value="{{ dbDag._live_version }}" {% endif %} class="form-control" id="live_version" name="live_version">
                                <option {% if not dbDag._live_version %} selected {% endif %} value="none">No Live Version</option>
                                {% for versionNo in dagVersions %}
                                    <option {% if dbDag._live_version == versionNo %} selected {% endif %} value="{{ versionNo }}">v{{ versionNo }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    {% include 'dagen/incl_template_form.html' %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block tail %}
    {{ super() }}
    {% block tail_extra_js %}
        <script type="text/javascript">
            window.dagVersions = {{ dagVersions | tojson }}
        </script>
        <script src="{{ url_for('dagen_bp.static', filename='dagen/js/edit.js') }}"></script>
        <script src="{{ url_for('dagen_bp.static', filename='dagen/js/dep-form-value.js') }}"></script>
    {% endblock %}
{% endblock %}
